:where(:root) {
  --scrt-color-red0: #fff0ef;
  --scrt-color-red1: #ffcfcd;
  --scrt-color-red2: #fea0a0;
  --scrt-color-red3: #dc8181;
  --scrt-color-red4: #ba6264;
  --scrt-color-red5: #994548;
  --scrt-color-red6: #79282d;
  --scrt-color-red7: #590614;
  /*--scrt-color-red0: #ffedec;
  --scrt-color-red1: #ffccca;
  --scrt-color-red2: #ff9c9b;
  --scrt-color-red3: #fb666e;
  --scrt-color-red4: #d74451;
  --scrt-color-red5: #b41d35;
  --scrt-color-red6: #89001e;
  --scrt-color-red7: #590011;*/
  --scrt-color-blue0: #f0f7ff;
  --scrt-color-blue1: #c3e2ff;
  --scrt-color-blue2: #7fc5ff;
  --scrt-color-blue3: #53a6e5;
  --scrt-color-blue4: #3287c4;
  --scrt-color-blue5: #0169a3;
  --scrt-color-blue6: #004b7c;
  --scrt-color-blue7: #002e57;
  --scrt-color-green0: #e6fff4;
  --scrt-color-green1: #b8ecd5;
  --scrt-color-green2: #98cbb5;
  --scrt-color-green3: #79ab96;
  --scrt-color-green4: #5b8c78;
  --scrt-color-green5: #3e6f5c;
  --scrt-color-green6: #215240;
  --scrt-color-green7: #003727;
  --scrt-color-yellow0: #fff5eb;
  --scrt-color-yellow1: #ffd5ac;
  --scrt-color-yellow2: #e1b488;
  --scrt-color-yellow3: #c09569;
  --scrt-color-yellow4: #a0774c;
  --scrt-color-yellow5: #815a2f;
  --scrt-color-yellow6: #643e11;
  --scrt-color-yellow7: #442500;
  --scrt-color-purple0: #ffedfc;
  --scrt-color-purple1: #ffc9f8;
  --scrt-color-purple2: #e5a5de;
  --scrt-color-purple3: #c486bd;
  --scrt-color-purple4: #a4689e;
  --scrt-color-purple5: #844b7f;
  --scrt-color-purple6: #662f62;
  --scrt-color-purple7: #491346;
  --scrt-color-gray0: #f3f7ff;
  --scrt-color-gray1: #d5def0;
  --scrt-color-gray2: #b5becf;
  --scrt-color-gray3: #969faf;
  --scrt-color-gray4: #788091;
  --scrt-color-gray5: #5c6373;
  --scrt-color-gray6: #404856;
  --scrt-color-gray7: #272e3b;
  --scrt-color-category0: #984447;
  /* --scrt-color-category0: #b31c34; */
  --scrt-color-category1: #1F78B4;
  --scrt-color-category2: #7eb09b;
  --scrt-color-category3: #f2c598;
  --scrt-color-category4: #a96da3;
  --scrt-color-highlight: var(--scrt-color-category0);
  --scrt-color-primary: var(--scrt-color-category1);
  --scrt-color-secondary: var(--scrt-color-category4);
  --scrt-color-gray: var(--scrt-color-gray5);
  --scrt-color-red: var(--scrt-color-category0);
  --scrt-color-blue: var(--scrt-color-category1);
  --scrt-color-green: var(--scrt-color-category2);
  --scrt-color-yellow: var(--scrt-color-category3);
  --scrt-color-purple: var(--scrt-color-category4);
  --scrt-color-white: #ffffff;
  --scrt-color-black: #333335;
}
  