<!-- Support & Donation Info -->
<div class="scrt-wrapper">

<div class="scrt-section">
  <h1>Support Transparency in the Courts</h1>
  <p>
     All donations to Scrutinize are tax-deductible to the fullest extent of the law. Scrutinize is incorporated in Delaware and fiscally sponsored by the Urban Justice Center, a 501(c)(3) non-profit organization based in NYC (EIN: 13‑3442022).
  </p>
  <p>
    <span style="font-weight: var(--scrt-weight-medium);">Wire transfers:</span><br>
    Please email info [at] urbanjustice [dot] org for instructions.
  </p>
  <p>
    <span style="font-weight: var(--scrt-weight-medium);">Employer matching:</span><br>
    Check if your employer will match your gift.
  </p>
  <p>
    <span style="font-weight: var(--scrt-weight-medium);">Direct giving via the Urban Justice Center:</span><br>
    Donate below or directly via our  
    <a href="https://secure.givelively.org/donate/urban-justice-center/scrutinize/" target="_blank" rel="noopener">
      Give Lively</a> page.
  </p>
</div>

<!-- Give Lively Widget -->
  <!-- Begin Give Lively Fundraising Widget -->
  <script>
    const gl = document.createElement('script');
    gl.src = 'https://secure.givelively.org/widgets/branded_donation/urban-justice-center/scrutinize.js';
    document.head.appendChild(gl);
  </script>
  <div
    data-widget-src="https://secure.givelively.org/donate/urban-justice-center/scrutinize?ref=sd_widget"
    id="give-lively-widget"
    class="gl-branded-donation-widget"
    style="max-width:600px; margin:0 auto;">
  </div>
  <!-- End Give Lively Fundraising Widget -->
</div>